
.img-cont{
    width: 356px;
    height: 313px;
}
.navbar ul{
    padding-left: 15%;
}

.img-cont img{
    height: 300px;
}
.content{
    display: flex;
}

.text-area{
    font-size: 2rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 0px;
    width: 453px;
    margin-top: 20px;
}
.navbar img{
    position: absolute;
    height: 35px;
    margin-left: 51px;
    cursor: pointer;
}
section .home{
    height: 580px;
}

@media(max-width:1208px) {
    .home2{  
        margin-left: 15%;
     }
     .S1{
        overflow-x: hidden;
     }
     #imaGe{
        width: 100%;
     }
     #color-black{
        font-size: 2rem;
     }
    
}

@media (max-width:1150px) {
    .text-area {
        font-size: 2rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 0px;
        width: 430px;
        margin-top: 20px;
    }
    .navbar ul{
        padding-left: 8%;
    }
    .h2{
        display: flex;
        flex-direction: column;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .h5{
        font-size: 1rem;
        font-weight: 100px;
        margin-bottom: 20px;
    }
    .part-2{
        display: flex;
    flex-direction: column;
    margin-left: 27%;
    margin-right: 6%;
    margin-top: 80px;
}
.cont-of-3{
    margin: 30px 0px;
}
.S2{
    height: 1200px;
}
.H3{
    font-size: 1.9rem;
}
.H5{
    font-size: 1.25rem;
}
.l1,.l2{
     flex-direction: column;
}
footer .f1 .hb {
    position: absolute;
    height: 45px;
    margin-left: -3px;
    cursor: pointer;
    margin-top: -150px;
}
.f2 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 100px;
}
.for-font-head{
    font-size: 1.7rem;
 }
 .f3{
    margin-top: -30px;
 }
 .f4{
    margin-top: 40px;
    margin-left: 15px;
 }

}
@media (max-width:1084px) {

    .left-bar{
        visibility: visible;
    }
    .navbar{     
        padding-bottom: 5px;

    }

    section{
        height: 700px;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .text-area {
        font-size: 2.3rem;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-left: 136px;
        width: 599px;
        margin-top: -139px;
    }
    .h2{
        display: flex;
        flex-direction: column;
    font-size: 55px;
    margin-bottom: 20px;
}
.h5{
    font-size: 1.4rem;
    font-weight: 100;
    margin-bottom: 20px;
}
.img-cont{
    margin-left: 130px;
    margin-top: 88px;
}
.img-cont img{
    height: 405px;
}
.navbar ul{
     visibility: hidden;
}
.navbar ul a{
    visibility: hidden;
}
body{
    position: absolute;
}
.slidebar{
    visibility: visible;
    position: absolute;
    left: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
    margin-left: 6.5%;
}
#c1 {
    position: absolute;
    top: 36%;
    left: 57%;
}
.part-2{
    margin-left: 24%;
    margin-right: 0%;
    margin-top: -270px;
}
.image{
    height: 33%;
    width: 51%;
    margin-top: -136px;
    margin-right: -103px;
 }
 .S3 .img-text{
    display: flex;
    margin-left: 11%;
    margin-top: -5%;
 }
 .text-area{
    margin-right: 12%;
 }
 .CONTAINER{
    margin-top: -60%;
 }
 .S5{
    margin-top: -61%;
 }
 footer .f1 .hb {
    position: absolute;
    height: 45px;
    margin-left: -3px;
    cursor: pointer;
    margin-top: -150px;
}
}

@media (max-width:600px){
    .Last-Div{
        flex-direction: column;
    }
    .l1,.l2{
        flex-direction: column;
    }
    .f2 {
        margin-left: 255px;
    }
     .f3{
        margin-top: 75px;
        margin-left: 250px;
     }
     .f4{
        margin-top: 50px;
        margin-left: 245px;
     }
    
}